{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier", "react-hooks", "@tanstack/query"],
  "env": {
    "browser": true
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "config/webpack.base.config.js"
      }
    }
  },
  "rules": {
    "prettier/prettier": "error",
    "react/jsx-props-no-spreading": ["error", { "custom": "ignore" }],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/forbid-prop-types": "off",
    "no-unsafe-optional-chaining": "off",
    "import/no-import-module-exports": "off",
    "react/function-component-definition": "off",
    // "jsx-a11y/label-has-associated-control": "off",
    // "jsx-a11y/control-has-associated-label": "off",
    // "jsx-a11y/anchor-is-valid": "off",
    // "jsx-a11y/click-events-have-key-events": "off",
    // "jsx-a11y/no-static-element-interactions": "off",
    // "jsx-a11y/anchor-has-content": "off",
    "import/no-cycle": "off",
    "no-console": "off",
    "@tanstack/query/exhaustive-deps": "error",
    "@tanstack/query/prefer-query-object-syntax": "error",
    "react/jsx-key": "error"
  }
}
